.wraper {
 
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 200px 300px 200px 300px;
  text-align: center;
  background: rgb(243, 232, 232);
  .item1 {
    background: url("./image/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1 / 3;
  }
  .item2 {
    background: url("./image/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item3 {
    background: url("./image/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-row: 2 / 4;
  }
  .item4 {
    background: url("./image/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2 / 4;
  }
  .item5 {
    background: url("./image/5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item6 {
    background: url("./image/6.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item7 {
    background: url("./image/7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item8 {
    background: url("./image/8.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2 / 4;
  }
   
}

